<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <meta charset="UTF-8">

</head>

<body>
  <header>
    <div class="title">
      <h1>Coral Bleaching Data Visualization</h1>
    </div>
  </header>

  {% block content %}{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.20.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</body>
</html>